* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.track_section {
  height: 280px;
  background-image: linear-gradient(to right, #445ba4, #5e83ee);
  /* background-image: linear-gradient(to right, #1a1a1a, #323232); for dark theme switch blue color for the button and this color for the bg*/

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 30px;
}

.track_section_heading {
  color: #fff;
  font-family: sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
